In [5]:
from utils import Preprocess
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import gc
from collections import deque

In [6]:
preprocess = Preprocess()

In [7]:
period = '5m'
symbol = 'BTC'
size = 20000

df = preprocess.get_bnb_data(symbol, period, size)
df.head()

https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=None
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1620203340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1619753340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1619303340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1618853340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1618403340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1617953340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1617503340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1617053340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1616603340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1616153340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1615703340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=1500&endTime=1615253340000
https://fapi.binance.com/fapi/v1/klines?symbol=BTCUSDT&interval=5m&limit=500&endTime=1614803340000

,start_time_unix,high,low,open,close,start_date
0,1614653400,49673.49,49450.00,49673.12,49469.08,2021-03-02 02:50:00
1,1614653700,49469.08,49141.99,49469.08,49290.25,2021-03-02 02:55:00
2,1614654000,49309.55,49050.78,49290.25,49170.04,2021-03-02 03:00:00
3,1614654300,49403.65,49161.06,49170.04,49382.94,2021-03-02 03:05:00
4,1614654600,49410.35,49313.52,49382.95,49359.02,2021-03-02 03:10:00

In [8]:
feats = ['macd', 'macds', 'rsi_14', 'close_50_ema', 'close_20_ema', 'atr', 'cci_30', 'dx_30']
df_feats = preprocess.get_features(feats)
df_feats.tail()

,start_time_unix,high,low,open,close,start_date,close_12_ema,close_26_ema,macd,macd_9_ema,macds,macdh,rsi_14,close_50_ema,close_20_ema,atr,cci_30,dx_30
19995,1620651900,57956.20,57699.33,57699.34,57909.69,2021-05-10 13:05:00,57901.131250,57971.538978,-70.407729,-43.814480,-43.814480,-26.593249,47.979280,58092.036121,57945.502113,260.233770,-37.584929,26.148758
19996,1620652200,58007.24,57804.75,57909.27,57944.93,2021-05-10 13:10:00,57907.869519,57969.567943,-61.698424,-47.391268,-47.391268,-14.307156,49.073554,58086.267254,57945.447626,256.109215,-9.681327,22.159668
19997,1620652500,57944.93,57772.81,57944.93,57775.00,2021-05-10 13:15:00,57887.428054,57955.155503,-67.727448,-51.458504,-51.458504,-16.268944,44.240830,58074.060695,57929.214519,250.109985,-43.657932,23.772141
19998,1620652800,57820.95,57684.89,57775.00,57753.42,2021-05-10 13:20:00,57866.811431,57940.212132,-73.400701,-55.846944,-55.846944,-17.553758,43.652902,58061.486550,57912.472184,241.963558,-72.768915,28.151609
19999,1620653100,57870.00,57614.50,57753.42,57668.81,2021-05-10 13:25:00,57836.349672,57920.108271,-83.758598,-61.429275,-61.429275,-22.329324,41.333594,58046.087469,57889.266262,242.930447,-82.744949,31.518786

In [11]:
df_feats.to_csv("../data/btc_5min_20000.csv", index=False)